body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

.orange-color{
    color:orange;
}

.btn-style{
    background-image: linear-gradient(to right, yellow, orange);
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700 ;  
    color: rgb(55, 53, 62);
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;    
    padding-left: 2%;
    margin: 2%;

    /* border: 1px solid black; */

}

.half-width img{
    width: 80%;
    /* padding: 10%; */
    
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiances-card{
    margin: 20px 100px;

    border: 2px solid green;
}

