body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

.orange-color{
    color:orange;
}

.btn-style{
    background-image: linear-gradient(to right, yellow, orange);
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700 ;  
    color: rgb(55, 53, 62);
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;    
    padding-left: 2%;
    margin: 2%;

    /* border: 1px solid black; */

}

.half-width img{
    width: 80%;
    /* padding: 10%; */
    
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiance-align{
    text-align: center;
}

.Experiances-card{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 35px;
    padding-bottom: 70px;
    border-radius: 10px;    
    box-shadow: 10px 10px 40px gray;
}

#web-div-exp{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}

#full-stack-div{
    border-left: 10px solid;
    border-image: linear-gradient(yellow, darkorange) ;
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: gray;
    margin-top: 50px;
    padding-top: 100px;
}